@import "tailwindcss";
@import "tw-animate-css";

/* Reset básico */
html, body, #root {
  margin: 0;
  padding: 0;
  width: 100%;
  min-height: 100%;
  font-family: 'Poppins', sans-serif;
  scroll-behavior: smooth;

}

/* Fundo contínuo com gradiente */
body {
  background: linear-gradient(to bottom, #121E2F, #395F95);
  color: #fff;
  min-height: 100vh;
}

/* Partículas fixas atrás do conteúdo */
.particles-bg {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: -1;
}

/* Conteúdo acima das partículas */
.main-content {
  position: relative;
  z-index: 10;
  padding-top: 80px; /* espaço para Navbar */
}
